div #body {
    width: 100%;
    height: 100%;
    background-color: #1f3975;
    position: absolute;
}

div #bs_body {
    /*padding: 0px;*/
}

div #kiosk {
    /*width: 98%;
    height: 98%;*/
    border: solid 1px red;
    background-image: url('flood_truck.jfif');
    background-size: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);*/
}

div #events {
    border: solid 1px green;
    position: relative;
}

div #users {
    border: solid 1px purple;
    position: relative;
}

div #signin {
    border: solid 1px blue;
}

div #event_list {
    opacity: 25%;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);   
    background-color: black;
    width: 95%;
    height: 98%;
    border-radius: 10px;
}

div #checkout_list {
    opacity: 25%;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);   
    background-color: black;
    width: 95%;
    height: 98%;
    border-radius: 10px;
}

div #statusbar {
    background-color: #1f3975;
    height: 25px;
    color: white;
    font-size: 10pt;

}